/* Importa font da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Fredoka+One&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

@font-face {
  font-family: 'Super Shiny';
  src: local('Popcat'), url('Popcat.otf') format('truetype');
}

@font-face {
  font-family: 'Super';
  src: local('Super Kinds'), url('Super Kinds.ttf') format('truetype');
}

body {
  font-family: 'Fredoka One', sans-serif; /* Font principale */
}

.menuMain {
  display: flex;
  flex-direction: row; /* Disposizione orizzontale */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spazio minimo tra box */
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
  overflow-x: auto; /* Scorrimento orizzontale se necessario */
}

.category {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0); /* Sfondo scuro semi-trasparente */
  width: 100%; /* Larghezza per adattare più box orizzontalmente */
  height: fit-content; /* Occupa il 50% dell'altezza disponibile */
  max-height: 95%;
  padding: 7px;
  margin-top: 135px;
  border-radius: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mantiene il titolo in alto */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effetto hover */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4); /* Ombra */
  overflow: hidden; /* Nasconde il testo che esce dal contenitore */

}

.category:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4); /* Ombra al passaggio */
}

.category h2 {
  font-size: 2.1em;
  color: #ffcc00; /* Colore dei titoli */
  font-weight: bold;
  font-family: 'Super Shiny', sans-serif; /* Font per i titoli */
  text-shadow: 
  0 0 2px #ffcc00,
  0 0 3px #7a650f,
  0 0 3px #8d6310,
  0 0 6px #462703,
  0 0 20px #ff6600;
  animation: neonPulse 2s infinite alternate;
  margin: 0px;
  text-align: center; /* Centra il titolo orizzontalmente */
}

.category h3 {
  font-size: 1.6em;
  color: #ff6600; /* Colore dei titoli */
  font-weight: bold;
  font-family: 'Super Shiny', sans-serif; /* Font per i titoli */
  text-shadow: 
    0 0 2px #aa7114,
    0 0 3px #7a650f,
    0 0 3px #8d6310,
    0 0 6px #462703,
    0 0 20px #ff6600;
  animation: neonPulse 2s infinite alternate;
  margin: -5px;
  text-align: center; /* Centra il titolo orizzontalmente */
}

.menu-item {
  font-size: clamp(1.4em, 1.4vw, 1.4em); /* Ridimensiona il font dinamicamente in base alla viewport */
  color: #20e8b2; /* Colore per i menu item */
  font-family: 'Super', sans-serif; /* Font per i menu item */
  text-shadow: 
    0 0 1px #054b39,
    0 0 1px #20e8b2,
    0 0 2px #18d79f,
    0 0 2px #15c68a,
    0 0 5px #032b1c; /* Ombre più intense */
  flex-grow: 0; /* Non occupa spazio aggiuntivo */
  flex-shrink: 0.6; /* Si restringe se necessario */
  display: flex;
  align-items: flex-start; /* Allinea i prodotti dall'alto */
  justify-content: center;
  width: 100%;
  text-align: center;
  overflow: hidden; /* Nasconde il testo che esce dal contenitore */
  white-space: nowrap; /* Impedisce al testo di andare su una nuova riga */
  text-overflow: ellipsis; /* Aggiunge i puntini di sospensione se il testo è troppo lungo */
  overflow: hidden;
  white-space: nowrap;
  line-height: 0.8515;
  text-overflow: ellipsis;

}

.menu {
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-family: 'Super', sans-serif; /* Font per i menu item */
  font-style: normal;
  font-weight: 400;
  text-shadow: 
    0 0 1px #20e8b2,
    0 0 1px #20e8b2,
    0 0 2px #18d79f,
    0 0 2px #15c68a,
    0 0 5px #13b077; /* Ombre più intense */  color: #ffffff;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}
